<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h2 class="title">ログイン</h2>
          <div class="box">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, class:"label" %>
                <div class="control has-icons-left">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input mb-4", placeholder:"offlyer@gmail.com" %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <%= f.label :password, class:"label" %>
                <div class="control has-icons-left">
                  <%= f.password_field :password, autocomplete: "current-password", class:"input mb-4", placeholder:"******" %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="actions field">
                <%= f.submit "ログイン", class:"button is-outlined is-hovered is-warning" %>
              </div>
              <div>
                <%= link_to "ゲストとしてログイン", users_guest_sign_in_path, method: :post, class: "button" %>
              </div>
            <% end %>
            <div class="block mt-5">
              <%= render "users/shared/links" %>
              <p>店舗の方は<%= link_to "こちら", new_store_session_path, class:"has-text-link"%> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
