<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widscreen">
          <h2 class="title">パスワードを忘れましたか?</h2>
          <div class="box">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <div class="field">
                <%= f.label :email, class:"label" %>
                <div class="control has-icons-left">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="actions field", style="box-sizing: border-box;">
                <%= f.submit "Passwordの再設定方法を送信する", class:"button is-outlined is-hovered mb-5", style: "box-sizing: border-box;" %>
              </div>
            <% end %>
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
