<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class=" is-centered">
        <div class=" is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="title">投稿の編集</h1>
          <div class="box">
            <%= form_with model: @post, local: true do |f| %>
              <%= render 'posts/shared/error_messages', model: f.object %>
              <div class="has-name is-fullwidth is-8 is-offset-2">
                <p>商品画像</p>
                <%= f.file_field :product_img, class:"file"%>
              </div>
              <div class="has-name is-fullwidth is-8 is-offset-2">
                <p>商品紹介文</p>
                <%= f.text_field :product_introduction, class: "textarea" %>
              </div>
              <div class="column is-8 is-offset-2">
                <%= f.submit "更新する", class: "button is-fullwidth is-warning is-hovered" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
