<section class="hero is-warning is-fullheght">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="mb-3">
            <% if user_signed_in? %>
              <h1 class="title">投稿一覧</h1>
              <%= search_form_for @q, url: search_posts_path do |f| %>
                <%= f.label :store_store_name_or_store_store_address_cont, '近くのお店をチェック!!', class:"label is-fullwidth has-text-centered" %>
                <div class="field has-addons", style="justify-content: center;">
                  <div class="control">
                    <%= f.search_field :store_store_name_or_store_store_address_cont, class:"input px-6", placeholder:"店舗名 or 地域名" %>
                  </div>
                  <div class="control">
                    <%= f.submit '検索', class:"button" %>
                  </div>
                </div>
              <% end %>
            <% elsif store_signed_in? %>
              <h1 class="title">閲覧数の多い過去の投稿</h1>
            <% end %>
          </div>
          <table class="table">
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td>
                    <%= link_to(post_path(post)) do %>
                      <%= image_tag post.product_img_url, width:"100%", height:"auto" %>
                    <% end %>
                    <div class="level-right impressions-count">
                      <div class="level-item">
                        <p class="mr-3">閲覧数</p><%= post.impressions_count %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= link_to(post_path(post)) do %>
                      <%= post.product_introduction %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
