<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="title">Post 新規投稿ページ</h1>
          <div class="box">
            <%= form_with model: @post, local: true do |f| %>
              <%= render 'posts/shared/error_messages', model: f.object %>
              <div class="has-name is-fullwidth">
                <p class="label">商品画像</p>
                  <label>
                    <%= f.file_field :product_img, id: "post_img" %>
                    <%= image_tag ("noimage.png"), id: "default_img" %>
                    <img id="img_prev">
                  </label>
              </div>
              <script>
                $('#post_img').on('change', function (e) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                    $('#default_img').hide();
                    $("#img_prev").attr('src', e.target.result);
                  }
                  reader.readAsDataURL(e.target.files[0]);
                });
              </script>

              <div class="">
                <p class="label">商品紹介文</p>
                <%= f.text_area :product_introduction, class: "textarea", placeholder: "例:商品入れ替えのため、日用品や食品を30%OFF〜販売しています!!" %>
              </div>
              <%= f.hidden_field :store_id, value: current_store.id %>
              <div class="column is-8 is-offset-2">
                <%= f.submit '投稿', class: "button is-warning is-fullwidth is-hovered" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
