<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          <h1 class="title">検索結果</h1>
          <h2 class="subtilte has-text-centered mb-5">検索結果は<%= @results.count%>件です</h2>
          <% if @results.count != 0 %>
            <div class="box">
              <% @results.each do |post| %>
                <table class="table is-hoverable is-fullwidth">
                  <tbody>
                    <tr>
                      <td class="post-td">
                        <%= link_to(post_path(post)) do %>
                          <%= image_tag post.product_img_url, class:"img image"%>
                        <% end %>
                      </td>
                      <td class="post-td mt-5">
                        <div class="has-text-centered product-intro">
                          <%= post.product_introduction %>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            </div>
          <% else %>
            <h3 class= "has-text-centered mb-6" >検索条件を変えて再度お調べください。</h3>
            <%= search_form_for @q, url: search_posts_path do |f| %>
                <%= f.label :store_store_name_or_store_store_address_cont, '近くのお店をチェック!!', class:"label is-fullwidth has-text-centered" %>
                <div class="field has-addons", style="justify-content: center;">
                  <div class="control">
                    <%= f.search_field :store_store_name_or_store_store_address_cont, class:"input px-6", placeholder:"店舗名 or 地域名" %>
                  </div>
                  <div class="control">
                    <%= f.submit '検索', class:"button" %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
