<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          <h1 class="title">投稿詳細ページ</h1>
          <div class="box is-centered">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-centered">
                  <%= link_to @post.product_img_url, "data-lightbox": @post.product_img_url do%>
                    <%= image_tag @post.product_img_url, class:"img image"%>
                  <% end %>
                  <% if user_signed_in? %>
                    <div class="level-right is-mobile">
                      <div class="level-item mt-3">
                        <p class="mr-3">いいね件数</p><%= @post.favorites.count %>
                        <% if @post.favorite?(current_user) %>
                          <%= link_to post_favorites_path(@post.id), method: :delete do %>
                            <span class="ml-2", style="color:red;">❤︎</span>
                          <% end %>
                        <% else %>
                          <%= link_to post_favorites_path(@post.id), method: :post do %>
                            <span class="level-item ml-2">❤︎</span>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% elsif store_signed_in? %>
                  <div class="level-right">
                    <div class="level-item">
                      <p class="mr-3">いいね件数</p> <%= @post.favorites.count %>
                    </div>
                  </div>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><%= @post.product_introduction %></td>
              </tr>
            </table>
            <div class="level-left">
              <div class="level-item">
                <% if user_signed_in? %>
                  <div class="">
                    <%= link_to '一覧画面へ', posts_path, class:"button" %>
                    <%= link_to 'HOME', users_home_path, class:"button mr-3" %>
                  </div>
                <% end %>
                <div>
                  <% if store_signed_in? && @post.store_id == current_store.id %>
                    <div class="is-grouped">
                      <p class="control mb-2">
                        <%= link_to '編集', edit_post_path(@post.id), class:"button is-warning" %>
                        <%= link_to '削除', post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"button mr-1" %>
                      </p>
                      <p class="control">
                        <%= link_to '一覧画面へ', posts_path, class:"button" %>
                        <%= link_to 'HOME', stores_home_path, class:"button mr-3" %>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          <div class="box">
            <table class="table is-fullwidth">
              <tr>
                <th>店舗名</th>
                <td>
                  <p><%= @store.store_name %></p>
                </td>
              </tr>
              <tr>
                <th>営業時間</th>
                <td>
                  <p><%= @store.business_hours%></p>
                </td>
              </tr>
              <tr>
                <th>店舗住所</th>
                <td>
                  <p><%= @store.store_address %></p>
                </td>
              </tr>
            </table>
            <div id="map"></div>
            <script type="text/javascript">
                function initMap() {
                    const test ={lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
                    const map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: test
                    });
                    const transitLayer = new google.maps.TransitLayer();
                    transitLayer.setMap(map);
                    const contentString = '住所：<%= @store.store_address %>';
                    const infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    const marker = new google.maps.Marker({
                        position:test,
                        map: map,
                        title: contentString
                    });
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
